@mixin media($size) {
  @if $size == xs {
    @include xs {
      @content;
    }
  } @else if $size == sm {
    @include sm {
      @content;
    }
  } @else if $size == md {
    @include md {
      @content;
    }
  } @else if $size == lg {
    @include lg {
      @content;
    }
  } @else if $size == xl {
    @include xl {
      @content;
    }
  }
}
