@import 'flexbox'

=xs
  @media screen and (max-width: 767px)
    @content

=sm
  @media screen and (min-width: 768px)
    @content

=md
  @media screen and (min-width: 992px)
    @content

=lg
  @media screen and (min-width: 1200px)
    @content

=xl
  @media screen and (min-width: 1500px)
    @content

@import 'media'

=grad
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.9) 70%, rgba(255,255,255,.7) 80%, rgba(255,255,255,0) 100%)

.container
  width: 100%
  max-width: 1200px
  padding: 0 20px
  display: table
  margin: auto
