a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video
  border: 0
  font: inherit
  font-size: 100%
  margin: 0
  padding: 0
  vertical-align: baseline

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong
  font-weight: bold

ul,
li
  list-style-type: none

// sass-lint:disable no-vendor-prefixes
html
  -moz-osx-font-smoothing: grayscale // No lint reported
  -webkit-font-smoothing: antialiased // No lint reported
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
  font-size: 62.5%
  line-height: 1.4
  text-rendering: optimizeLegibility

*,
*::before,
*::after
  box-sizing: border-box

body
  font-size: 1.6rem
  padding: 65px 0 0 0

input,
textarea,
select,
a,
button
  font-family: inherit
  outline: none

  &:focus
    outline: none

a
  text-decoration: none

small
  font-size: 1.3rem
