<template>
  <div class="container">
    <div class="favorites-list" v-if="favorites.length > 0">
      <Search />
      <ListMovie :movies="favorites" :loading="loading" />
    </div>
    <div v-else-if="favorites.length === 0 && isLogged" class="favorites-empty">
      <v-icon label="Sem favoritos">
        <v-icon name="heart" class="heart" />
        <v-icon name="slash" class="slash" scale="2" />
      </v-icon>
      <h4>Você não tem menhum filme salvo nos favoritos</h4>
    </div>
    <div
      v-else-if="favorites.length === 0 && !isLogged"
      class="favorites-empty"
    >
      <v-icon name="sign-in-alt" class="heart" />
      <h4>Você precisa estar logado para salvar filmes nos favoritos</h4>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import ListMovie from '@/components/ListMovie'
import Search from '@/components/Search'

export default {
  name: 'my-favorites',
  mounted() {
    this.getFavorites()
  },
  computed: {
    ...mapGetters([
      'loading',
      'isLogged',
      'favorites',
    ]),
  },
  methods: {
    ...mapActions([
      'getFavorites',
    ]),
  },
  components: {
    Search,
    ListMovie,
  },
}
</script>

<style lang="sass">
@import '../assets/sass/global/colors'

.favorites-empty
  padding: 50px
  text-align: center

  svg
    fill: $gray
    width: 70px
    height: 70px
    margin-bottom: 30px

    &.heart
      fill: lighten($gray, 10%)
</style>
