<template>
  <div class="container">
    <Search />
    <ListMovie :movies="movies" :loading="loading" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import ListMovie from '@/components/ListMovie'
import Search from '@/components/Search'

let page = 1

export default {
  name: 'home',
  mounted() {
    this.getMovies(page)
    this.loadMore()
  },
  computed: {
    ...mapGetters([
      'movies',
      'loading',
    ]),
  },
  methods: {
    ...mapActions([
      'getMovies',
    ]),
    loadMore() {
      window.onscroll = () => {
        const wH = document.documentElement.scrollTop + window.innerHeight
        const bottomOfWindow = wH === document.documentElement.offsetHeight

        if (bottomOfWindow) {
          page += 1
          this.getMovies(page)
        }
      }
    }
  },
  components: {
    Search,
    ListMovie,
  },
}
</script>
