<template>
  <div class="single">
    <div class="single-bg" :style="`background-image: url(${urlBg})`" />
    <Loading v-if="loading" />
    <div class="container">
      <div class="single-wrap">
        <div class="thumbnail">
          <img :src="poster" :alt="movie.title" />
        </div>
        <div class="descriptions">
          <div class="descriptions-title">
            <div class="title">
              <small>{{ movie.original_title }}</small>
              <h1>{{ movie.title }}</h1>
            </div>
            <Favorites :movie="movie" :isFavorite="isFavorite" />
          </div>
          <h2 class="subtitle">Sinopse</h2>
          <p>{{ movie.overview }}</p>
          <div class="infos">
            <h2 class="subtitle">Especificações</h2>
            <li>
              <span>Duração</span>
              <span>{{ movie.runtime }}m</span>
            </li>
            <li>
              <span>Avaliação</span>
              <span>{{ movie.vote_average }}</span>
            </li>
            <li>
              <span>Ano</span>
              <span>{{ movie.release_date | yearFormat }}</span>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import Loading from '@/components/Loading'
import Favorites from '@/components/Favorites'

const defaultImage = require('../assets/images/placeholder.jpg')

export default {
  name: 'single',
  mounted() {
    this.getMovieById(this.$route.params.id)
  },
  computed: {
    ...mapGetters([
      'movie',
      'loading',
      'favorites',
    ]),
    urlBg() {
      return this.movie.backdrop_path
        ? `http://image.tmdb.org/t/p/original/${this.movie.backdrop_path}`
        : defaultImage
    },
    poster() {
      return this.movie.poster_path
        ? `http://image.tmdb.org/t/p/w500${this.movie.poster_path}`
        : defaultImage
    },
    isFavorite() {
      return Object.keys(this.favorites)
        .map(item => this.favorites[item].id)
        .includes(this.movie.id)
    },
  },
  methods: {
    ...mapActions([
      'getMovieById',
    ]),
  },
  components: {
    Loading,
    Favorites,
  },
}
</script>

<style lang="sass">
@import '../assets/sass/global/colors'
@import '../assets/sass/global/mixins'

=text
  font-size: 1.4rem
  color: $text

.single
  position: relative

  .single-bg
    width: 100vw
    min-height: 80vh
    background-size: cover
    background-position: center
    position: absolute

    &:after
      content: ''
      position: absolute
      width: 100vw
      height: 25vh
      left: 0
      bottom: -5px
      +grad
      z-index: 2

  .single-wrap
    position: relative
    background: $white
    border-radius: 6px
    overflow: hidden
    max-width: 728px
    display: table
    margin: auto
    top: 30vh
    z-index: 9

    +sm
      +flexbox(row nowrap, flex-start, center, flex-start)
      top: 50vh
      padding: 30px 0

    .thumbnail,
    .descriptions
      width: 100%

    .thumbnail
      margin-bottom: 20px
      padding: 0 20px

      +xs
        padding-top: 20px

      +sm
        width: 340px

      img
        width: 100%
        display: block

    .descriptions
      +sm
        padding-right: 20px
        width: calc(100% - 340px)

    .descriptions-title
      +flexbox(row nowrap, space-between, center, flex-start)

    .title
      margin-bottom: 30px
      padding-right: 50px

      small
        +text

      h1
        color: $primary
        font-size: 2.2rem

        +sm
          font-size: 3.2rem

    .subtitle
      +text
      margin-bottom: 10px
      text-transform: uppercase

    p
      +text
      margin-bottom: 30px

    .infos
      margin-bottom: 30px

      li
        +text
        display: flex
        justify-content: space-between
        border-bottom: 1px solid lighten($text, 45%)
        padding: 10px 0
</style>
