<template>
  <div class="card">
    <router-link :to="`/movie/${movie.id}`">
      <div class="card-movie">
        <div class="card-thumb">
          <img :src="poster" :alt="movie.title" />
        </div>
        <div class="card-title">
          <small>
            {{ movie.original_title }}
            <span><v-icon name="star" />{{ movie.vote_average }}</span>
          </small>
          <h3>{{ movie.title }} ({{ movie.release_date | yearFormat }})</h3>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
const defaultImage = require('../assets/images/placeholder.jpg')

export default {
  name: 'CardMovie',
  computed: {
    poster() {
      return this.movie.poster_path
        ? `http://image.tmdb.org/t/p/w500${this.movie.poster_path}`
        : defaultImage
    },
  },
  props: [
    'movie',
  ],
}
</script>

<style scoped lang="sass">
@import '../assets/sass/global/colors'
@import '../assets/sass/global/mixins'

.card
  height: 100%

.card-movie
  height: 100%
  border: 1px solid lighten($text, 45%)
  border-radius: 6px
  overflow: hidden

  .card-thumb
    transition: opacity .6s
    overflow: hidden

    +sm
      min-height: 370px
      max-height: 370px

    +md
      min-height: 400px
      max-height: 400px

    img
      width: 100%
      display: block
      object-fit: cover
      object-position: center

      +sm
        min-height: 370px

      +md
        min-height: 400px

  .card-title
    padding: 10px

    small
      color: $text
      margin-bottom: 10px
      +flexbox(row nowrap, space-between, center, flex-start)

      span
        display: block
        width: 80px
        text-align: right

        svg
          margin-right: 10px
          fill: $yellow

    h3
      color: $primary
</style>
