<template>
  <div class="favorites">
    <button :class="`btn ${setClass()}`" @click="handleClick">
      <v-icon name="heart" />
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions([
      'addToFavorites',
      'removeFavorites',
    ]),
    setClass() {
      return this.isFavorite ? 'active' : ''
    },
    handleClick() {
      if (this.isFavorite) {
        this.removeFavorites(this.movie.id)
      } else {
        this.addToFavorites(this.movie)
      }
    },
  },
  props: [
    'movie',
    'isFavorite',
  ],
}
</script>

<style scoped lang="sass">
@import '../assets/sass/global/colors'

.favorites
  .btn
    background: transparent
    border: none
    box-shadow: none
    padding: 10px 0
    cursor: pointer

    svg
      fill: $gray

    &.active
      svg
        fill: $red
</style>
