<template>
  <header class="header">
    <div class="logo">
      <router-link to="/">
        MovieFlix
      </router-link>
    </div>
    <nav class="menu">
      <li class="favorites">
        <router-link to="/my-favorites">
          <span>Favoritos</span>
          <span v-if="favorites.length">({{ favorites.length }})</span>
        </router-link>
      </li>
      <li class="btn-login" v-if="!isLogged" @click="login">Login</li>
      <li class="btn-login" v-else @click="logout">SAIR</li>
    </nav>
  </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'isLogged',
      'favorites',
    ]),
  },
  methods: {
    ...mapActions([
      'login',
      'logout',
    ]),
  },
}
</script>

<style scoped lang="sass">
@import '../assets/sass/global/colors'
@import '../assets/sass/global/flexbox'

.header
  +flexbox(row nowrap, space-between, center, center)
  padding: 20px 28px
  border-bottom: 1px solid lighten($text, 45%)
  background: $white
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 999

  .logo
    a
      color: $primary
      font-weight: bold

  .menu
    +flexbox(row nowrap, flex-end, center, center)

    li
      text-transform: uppercase
      font-size: 1.3rem
      font-weight: bold
      position: relative

    .favorites
      a
        color: $primary

      span:not(:first-child)
        display: inline-block
        margin-left: 4px
        color: $red

    .btn-login
      background: $primary
      padding: 4px 16px
      border-radius: 20px
      text-align: center
      color: $white
      font-size: 1.2rem
      cursor: pointer
      transition: background .3s
      margin-left: 20px

      &:hover
        background: lighten($primary, 5%)
</style>
