<template>
  <div class="list-movie">
    <Loading v-if="loading" />
    <div class="movies">
      <li
        class="movies-list"
        v-for="(movie, index) in movies"
        :key="index"
      >
        <CardMovie :movie="movie" />
      </li>
    </div>
  </div>
</template>

<script>
import Loading from '@/components/Loading'
import CardMovie from '@/components/CardMovie'

export default {
  name: 'list-movie',
  components: {
    Loading,
    CardMovie,
  },
  props: [
    'movies',
    'loading',
  ]
}
</script>

<style lang="sass">
@import '../assets/sass/global/mixins'

.list-movie
  position: relative

  .movies
    +flexbox(row wrap, flex-start, center, stretch)

    .movies-list
      width: 100%
      padding: 8px
      cursor: pointer
      margin-bottom: 20px

      +sm
        width: calc(100% / 3)

      +md
        width: calc(100% / 4)

      &:hover
        .card-thumb
          opacity: .6
</style>
