<template>
  <div class="loading">
    <!-- eslint-disable max-len -->
    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" fill="none" r="40" stroke="#00695C" strokeWidth="8" strokeLinecap="round" transform="rotate(45.859 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;180 50 50;720 50 50" keyTimes="0;0.5;1" dur="1.7s" begin="0s" repeatCount="indefinite"/><animate attributeName="stroke-dasharray" calcMode="linear" values="25.132741228718345 226.1946710584651;226.1946710584651 25.132741228718345;25.132741228718345 226.1946710584651" keyTimes="0;0.5;1" dur="1.7s" begin="0s" repeatCount="indefinite"/></circle></svg>
    <!-- eslint-enable max-len -->
    <p>Carregando...</p>
  </div>
</template>

<style scoped lang="sass">
@import '../assets/sass/global/colors'
@import '../assets/sass/global/flexbox'

.loading
  +flexbox(row nowrap, center, center, center)
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: $white
  z-index: 99

  p
    margin-left: 16px
</style>
