<template>
  <form class="search" @submit.prevent="onSubmit">
    <input type="text" placeholder="Buscar filme" v-model="search" />
    <button>Buscar</button>
  </form>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Search',
  data() {
    return {
      search: '',
    }
  },
  methods: {
    ...mapActions([
      'getSearchMovie',
    ]),
    onSubmit() {
      this.getSearchMovie(this.search)
    },
  },
}
</script>

<style scoped lang="sass">
@import '../assets/sass/global/colors'
@import '../assets/sass/global/mixins'

.search
  +flexbox(row nowrap, center, center, stretch)
  width: 100%
  max-width: 728px
  padding: 20px 8px
  margin: auto

  +sm
    padding: 20px 0

  input
    width: 100%
    height: 50px
    padding-left: 20px
    border-radius: 6px 0 0 6px
    box-shadow: none
    border: 1px solid lighten($text, 45%)
    border-right: none
    color: $primary
    font-size: 2rem

  button
    border-radius: 0 6px 6px 0
    background: $primary
    border: 1px solid $primary
    color: $white
    font-size: 1.6rem
    padding: 0 20px
</style>
